/* ****************fonts**************** */

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2"), url("../fonts/gilroylight.woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2"),
    url("../fonts/gilroyextdgrabold.woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans.woff2"), url("../fonts/opensans.woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2"), url("../fonts/opensanslight.woff");
}

/* ****************variables**************** */

:root {
  --basic-black: #000;
  --basic-black-rgb: 0, 0, 0;
  --basic-dark: #363636;
  --basic-gray: #464646;
  --basic-half-gray: #dcdcdc;
  --basic-gray-light: #e5e5e5;
  --basic-white: #fff;
  --basic-white-rgb: 255, 255, 255;
  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;
  --special-pink: #f6dada;
  --special-gray: #d9d9d9;
  --special-half-gray: #ebebeb;
}

/* ****************global**************** */

.page {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.container {
  width: 1160px;
}

.content-logo-link:hover,
.content-logo-link:focus {
  opacity: 0.6;
  outline: none;
}

.content-logo-link:active {
  opacity: 0.3;
}

.content-options-link {
  text-decoration: none;
  color: inherit;
}

.content-options-link_theme_dark:hover,
.content-options-link_theme_dark:focus {
  opacity: 0.6;
  outline: none;
}
.content-options-link_theme_dark:active {
  opacity: 0.3;
}

.content-options-link_theme_white {
  opacity: 0.7;
}

.content-options-link_theme_white:hover,
.content-options-link_theme_white:focus {
  opacity: 1;
  outline: none;
}
.content-options-link_theme_white:active {
  opacity: 0.3;
}

.content-link {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
}
.content-link_menu:hover,
.content-link_menu:focus {
  opacity: 0.6;
  outline: none;
}
.content-link_menu:active {
  opacity: 0.3;
}

.content-link_option {
  width: 200px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    var(--basic-white) 16px,
    var(--special-yellow-dark) 16px,
    var(--special-yellow-dark) 24px,
    var(--basic-white) 24px
  );
  background-position: center;
  background-repeat: no-repeat;
}
.content-link_option:hover,
.content-link_option:focus {
  background-image: none;
  background-color: var(--special-yellow-dark);
  outline: none;
}
.content-link_option:active {
  background-image: none;
  background-color: var(--special-yellow-dark);
  color: rgba(var(--basic-black-rgb), 0.3);
}

.content-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 47px;
  line-height: 57.6px;
  letter-spacing: 0.2em;
}

.content-title_promo {
  letter-spacing: normal;
}

/* ****************page header**************** */
.header {
  margin: 0 auto;
  background-color: var(--special-yellow-light);
}

.header-logo {
  width: 163px;
  height: 35px;
}

.site-header-search {
  position: relative;
}

.site-search-field {
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}
.site-search-field:hover {
  opacity: 0.6;
}
.site-search-field:focus {
  opacity: 1;
  outline: none;
  border-bottom: 2px solid var(--basic-black);
}

.site-search-submit {
  cursor: pointer;
  box-sizing: border-box;
  color: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-black);
}
.site-search-submit:hover,
.site-search-submit:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
  outline: none;
}
.site-search-submit:active {
  color: rgba(var(--basic-white-rgb), 0.3);
  background-color: var(--basic-black);
  outline: none;
}

.content-options {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.content-menu {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.content-link_theme-dark {
  color: inherit;
}

.promo-product-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 47px;
  line-height: 58px;
}

.header-show-submenu {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--basic-black);
  padding: 0;
}
.header-show-submenu::after {
  content: url("../img/add-icon.svg");
  display: inline-block;
  width: 15.4px;
  height: 15.4px;
}

/* ****************index.html**************** */

.main {
  margin: 0 auto;
}

/* submenu */

.site-menu-advanced {
  background-color: var(--special-yellow-light);
}

.site-submenu {
  padding: 0;
  list-style-type: none;
}

.site-submenu-link {
  color: inherit;
  text-decoration: none;
}
.site-submenu-link:hover,
.site-submenu-link:focus {
  opacity: 0.6;
  outline: none;
}
.site-submenu-link:active {
  opacity: 0.3;
}

/* promo */

.promo-choise-list {
  padding: 0;
  list-style-type: none;
}

.promo-product-list {
  padding: 0;
  list-style-type: none;
}

.promo-table {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  letter-spacing: 0.1em;
}

.promo-table-row {
  font-weight: 300;
  font-size: 36px;
  line-height: 41.5px;
}

.promo-table-header {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}

/* device-types */

.device-types-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.device-types-item {
  width: 160px;
}

.device-types-link {
  color: inherit;
  text-decoration: none;
}

.device-types-link:hover,
.device-types-link:focus {
  outline: none;
}

.device-types-link:hover .device-types-wrapper,
.device-types-link:focus .device-types-wrapper {
  background-color: var(--special-yellow-dark);
}

.device-types-link:active .device-types-image {
  opacity: 0.3;
}

.device-types-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  background-color: var(--special-yellow-light);
}

.device-types-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

/* services */

.services-choice-list {
  width: 283px;
  box-sizing: border-box;
  padding: 0;
  list-style-type: none;
  border-right: 7px solid var(--basic-black);
}

.services-choise {
  display: none;
}

.services-choise-label {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-image: linear-gradient(
    to bottom,
    var(--basic-white) 16px,
    var(--special-yellow-dark) 16px,
    var(--special-yellow-dark) 24px,
    var(--basic-white) 24px
  );
}

.services-choise-label:hover,
.services-choise-label:focus {
  background-image: none;
  background-color: var(--special-yellow-dark);
  outline: none;
}

.services-choise:checked ~ .services-choise-label,
.services-choise-label:active {
  width: 277px;
  background-image: none;
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.services-list {
  padding: 0;
  list-style-type: none;
}

.services-item-text {
  line-height: 30px;
  letter-spacing: 0.1em;
}

/* logotypes */

.logotypes-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.logotypes-image {
  width: 260px;
  height: 100px;
}

.logotypes-image {
  filter: grayscale(1);
  opacity: 0.2;
}

.logotypes-link:focus {
  outline: none;
}

.logotypes-link:hover .logotypes-image,
.logotypes-link:focus .logotypes-image {
  filter: grayscale(0);
  opacity: 1;
}

/* about-us */

.about-us-description {
  line-height: 28px;
}

.about-us-list {
  padding: 0;
  list-style-type: none;
}

.about-us-link {
  width: 260px;
}

/* contacts */

.contacts-description {
  line-height: 28px;
}

.contacts-link {
  width: 260px;
}

.contacts-link:hover,
.contacts-link:focus {
  opacity: 0.8;
  outline: none;
}

/* ****************catalog.html**************** */

.catalog-title {
  letter-spacing: normal;
}

.breadcrumbs {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.breadcrumbs-link {
  color: inherit;
  opacity: 0.3;
  text-decoration: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:last-of-type)::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 14px;
  margin-right: 14px;
  background-image: url("../img/arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  opacity: 0.6;
  outline: none;
}

.breadcrumbs-link:active {
  opacity: 0.1;
}

.main-wrapper {
  display: flex;
}

/* filter */

.filter-title {
  margin: 0;
  min-height: 70px;
  background-color: var(--basic-half-gray);
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.filter-form {
  background-color: var(--basic-gray-light);
}

.filter-fieldset {
  border: none;
}

.filter-label {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.filter-form-legend {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

/* checkbox */
.filter-color-list {
  padding: 0;
  list-style-type: none;
}

.filter-color-item:not(:last-of-type) {
  margin-bottom: 12px;
}

.filter-color-field {
  display: none;
}

.filter-color-label {
  padding-left: 42px;
  position: relative;
  cursor: pointer;
}

.filter-color-label:hover,
.filter-color-label:focus {
  opacity: 0.6;
}

.filter-color-label:active {
  opacity: 1;
}

.filter-color-label::before,
.filter-color-label::after {
  position: absolute;
  content: "";
  display: inline-block;
  box-sizing: border-box;
  left: 0;
  top: 50%;
}

.filter-color-label::before {
  width: 24px;
  height: 24px;
  border: 3px solid var(--basic-black);
  border-radius: 2px;
  transform: translateY(-50%);
}

.filter-color-label::after {
  display: none;
  width: 12px;
  height: 8px;
  border-bottom: 3px solid var(--basic-black);
  border-left: 3px solid var(--basic-black);
  transform: translate(6px, -6px) rotate(-45deg);
}

.filter-color-field:checked ~ .filter-color-label::after {
  display: inline-block;
}

.filter-color-field:disabled ~ .filter-color-label {
  opacity: 0.25;
}

/* radio button */
.filter-bluetooth-list {
  padding: 0;
  list-style-type: none;
}

.filter-bluetooth-field {
  display: none;
}

.filter-bluetooth-item:not(:last-of-type) {
  margin-bottom: 12px;
}

.filter-bluetooth-label {
  padding-left: 42px;
  position: relative;
  cursor: pointer;
}

.filter-bluetooth-label:hover,
.filter-bluetooth-label:focus,
.filter-bluetooth-label:active {
  opacity: 0.6;
}

.filter-bluetooth-label::before,
.filter-bluetooth-label::after {
  position: absolute;
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  left: 0;
  top: 50%;
}

.filter-bluetooth-label::before {
  width: 24px;
  height: 24px;
  border: 3px solid var(--basic-black);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.filter-bluetooth-label::after {
  display: none;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  transform: translate(8px, -4px);
}

.filter-bluetooth-field:checked ~ .filter-bluetooth-label::after {
  display: inline-block;
}

.filter-bluetooth-field:disabled ~ .filter-bluetooth-label {
  opacity: 0.25;
}

.filter-submit {
  background-color: transparent;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.2em;
  width: 200px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    transparent 16px,
    var(--special-yellow-dark) 16px,
    var(--special-yellow-dark) 24px,
    transparent 24px
  );
  background-position: center;
  background-repeat: no-repeat;
}

.filter-submit:hover,
.filter-submit:focus {
  background-image: none;
  background-color: var(--special-yellow-dark);
  outline: none;
}
.filter-submit:active {
  background-image: none;
  background-color: var(--special-yellow-dark);
  color: rgba(var(--basic-black-rgb), 0.3);
}

/* devices */

.devices-header {
  display: flex;
  align-items: center;
  min-height: 70px;
  background-color: var(--basic-gray-light);
}

.devices-options {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.devices-sort-list {
  font-weight: normal;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.devices-sort-item:not(:last-of-type) {
  margin-right: 30px;
}

.devices-sort-type {
  opacity: 0.3;
}

.devices-sort-type:hover,
.devices-sort-type:focus {
  opacity: 0.6;
  outline: none;
}

.devices-sort-type:active,
.devices-sort-type.sort-active {
  opacity: 1;
}

.devices-sort-type {
  color: inherit;
  text-decoration: none;
}

.devices-sort-method {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.devices-sort-method:disabled {
  opacity: 0.2;
}

.devices-sort-method:hover,
.devices-sort-method:disabled:hover,
.devices-sort-method:focus,
.devices-sort-method:disabled:focus {
  opacity: 0.4;
}

.devices-sort-method:active {
  opacity: 1;
}

.devices-sort-method_up::after,
.devices-sort-method_down::after {
  width: 10px;
  height: 11px;
  display: inline-block;
}

.devices-sort-method_up::after {
  content: url("../img/sort-up.svg");
}

.devices-sort-method_down::after {
  content: url("../img/sort-down.svg");
}

.devices-list {
  padding: 0;
  list-style-type: none;
}

.devices-item:hover .devices-image {
  opacity: 0.7;
}

.devices-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.devices-price {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.devices-comparison-link {
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.1em;
  opacity: 0.5;
}

.devices-comparison-link:hover,
.devices-comparison-link:focus {
  opacity: 1;
}

.devices-comparison-link:active {
  opacity: 0.2;
}

.devices-footer {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  background-color: #ebebeb;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 19.6px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.buttons-back-forward {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 19.6px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.buttons-back-forward:hover,
.buttons-back-forward:focus {
  background-color: #d9d9d9;
}

.buttons-back-forward:active {
  background-color: #d9d9d9;
}

.buttons-back-forward:disabled {
  background-color: transparent;
  cursor: auto;
}

.buttons-back-forward:active .device-button-desc {
  opacity: 0.3;
}

.devices-pages-list {
  display: flex;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.devices-pages-item:not(:last-of-type) {
  margin-right: 30px;
}

.devices-pages-link.current-page {
  opacity: 1;
}

.devices-pages-link {
  color: inherit;
  text-decoration: none;
  opacity: 0.3;
}

.devices-pages-link:hover,
.devices-pages-link:focus {
  opacity: 0.6;
}

.devices-pages-link:active {
  opacity: 1;
}

/* ****************page footer**************** */

.footer {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.footer-wrapper {
  margin: 0 auto;
}

.footer-adress {
  font-style: normal;
}

.footer-tel {
  color: inherit;
  text-decoration: none;
}

.footer-tel:hover,
.footer-tel:focus {
  opacity: 0.7;
  outline: none;
}

.footer-line {
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-dark);
  border: none;
}

.footer-social-list {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.footer-social-link {
  opacity: 0.3;
}

.footer-social-link:hover,
.footer-social-link:focus {
  opacity: 0.6;
  outline: none;
}

.footer-social-link:active {
  opacity: 0.1;
}

.study-center-link:hover,
.study-center-link:focus {
  opacity: 0.6;
  outline: none;
}

.study-center-link:active {
  opacity: 0.3;
}

/* ****************visually-hidden**************** */

.visually-hidden-label {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
