/* ****************fonts**************** */

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2"), url("../fonts/gilroylight.woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2"),
    url("../fonts/gilroyextdgrabold.woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans.woff2"), url("../fonts/opensans.woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2"), url("../fonts/opensanslight.woff");
}

/* ****************variables**************** */

:root {
  --basic-black: #000;
  --basic-black-rgb: 0, 0, 0;
  --basic-dark: #363636;
  --basic-gray: #464646;
  --basic-half-gray: #dcdcdc;
  --basic-gray-light: #e5e5e5;
  --basic-white: #fff;
  --basic-white-rgb: 255, 255, 255;
  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;
  --special-pink: #f6dada;
  --special-gray: #d9d9d9;
  --special-half-gray: #ebebeb;
}

/* ****************global**************** */

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  grid-template-rows: min-content 1fr min-content;
  justify-content: safe center;
  min-height: 100%;
  padding: 0;
  margin: 0;
  padding-top: 40px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.content-logo-link {
  display: inline-block;
}

.content-logo-link:hover,
.content-logo-link:focus {
  opacity: 0.6;
}

.content-logo-link:active {
  opacity: 0.3;
}

.content-logo-link_dark {
  position: absolute;
  left: 60px;
  top: -20px;
  display: inline-block;
}

.content-logo-link_white {
  grid-area: 1 / 1 / 2 / 3;
  padding-top: 12px;
  margin-bottom: 40px;
  align-self: start;
}

.content-options-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.content-options-link_dark:hover,
.content-options-link_dark:focus {
  opacity: 0.6;
}
.content-options-link_dark:active {
  opacity: 0.3;
}

.content-options-link_white {
  opacity: 0.7;
}

.content-options-link_white:hover,
.content-options-link_white:focus {
  opacity: 1;
}
.content-options-link_white:active {
  opacity: 0.3;
}

.content-link-into::before,
.content-link-compare::before,
.content-link-cart::before,
.content-link-user::before {
  content: "";
  display: block;
  margin-right: 12px;
  background-position: center;
  background-repeat: no-repeat;
}

.content-link-into::before,
.content-link-compare::before,
.content-link-user::before {
  width: 14px;
  height: 14px;
}

.content-link-cart::before {
  width: 10px;
  height: 10px;
}

.content-link-into_dark::before {
  background-image: url("../img/into-header.svg");
}

.content-link-compare_dark::before {
  background-image: url("../img/compare-header.svg");
}

.content-link-cart_dark::before {
  background-image: url("../img/cart-header.svg");
}

.content-link-into_white::before {
  background-image: url("../img/into-footer.svg");
}

.content-link-compare_white::before {
  background-image: url("../img/compare-footer.svg");
}

.content-link-cart_white::before {
  background-image: url("../img/cart-footer.svg");
}

.content-link-user_white::before {
  background-image: url("../img/user.svg");
}

.content-link-user_dark::before {
  background-image: url("../img/into-header.svg");
}

.content-link-into_dark {
  margin-right: 213px;
}

.content-link-compare_dark {
  margin-right: 41px;
}

.content-link-into_white {
  margin-right: 38px;
}

.content-link-compare_white {
  margin-right: 40px;
}

.content-link-user_white {
  margin-right: 24px;
}

.content-link-user_dark {
  margin-right: 20px;
}

.content-link-out_white {
  margin-right: 40px;
}

.content-link-out_dark {
  margin-right: 65px;
  opacity: 0.4;
}

.content-link {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
}

.content-link_menu:hover,
.content-link_menu:focus {
  opacity: 0.6;
}

.content-link_menu:active {
  opacity: 0.3;
}

.content-link_option {
  width: 200px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    transparent 16px,
    var(--special-yellow-dark) 16px,
    var(--special-yellow-dark) 24px,
    transparent 24px
  );
  background-position: center;
  background-repeat: no-repeat;
}

.content-link_option:hover,
.content-link_option:focus {
  background-image: none;
  background-color: var(--special-yellow-dark);
}

.content-link_option:active {
  background-image: none;
  background-color: var(--special-yellow-dark);
  color: rgba(var(--basic-black-rgb), 0.3);
}

.content-options {
  min-width: 500px;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.content-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.content-menu_dark {
  margin-bottom: 50px;
}

.content-menu_white {
  margin-bottom: 18px;
  padding: 0 20px;
  justify-content: center;
}

.content-link_adv {
  margin-right: 16px;
}

.content-menu-item_dark:first-of-type {
  width: 540px;
}

.content-menu-item_dark:nth-of-type(2) {
  width: 159px;
}

.content-menu-item_dark:nth-of-type(3) {
  width: 218px;
}

.content-menu-item_white:not(:last-of-type) {
  margin-right: 36px;
}

.content-menu_page_catalog {
  margin-bottom: 50px;
}

.content-link_theme-dark {
  color: inherit;
}

.content-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 47px;
  line-height: 57.6px;
  letter-spacing: 0.2em;
  margin: 0;
}

.content-title_columns {
  position: relative;
}

.content-title_columns::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.content-columns {
  display: grid;
  grid-template-columns: 473px 560px;
  column-gap: 127px;
  grid-template-rows: repeat(3, auto);
  padding-bottom: 86px;
}

/* ****************page header**************** */

.header {
  position: relative;
  box-sizing: border-box;
  background-color: var(--special-yellow-light);
  padding: 0 60px;
  margin-left: 20px;
  margin-right: 20px;
  grid-column: 2 / -2;
}

.header_page_catalog {
  margin-bottom: 44px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 35px;
  padding-top: 35px;
}

.header-logo {
  width: 163px;
  height: 35px;
}

.header-search {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  height: 50px;
}

.header-search_active {
  border-bottom: 2px solid var(--basic-black);
}

.header-search-logo {
  width: 12px;
  height: 12px;
  margin-right: 22px;
}

.header-search-field {
  flex-grow: 1;
  min-height: 50px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.3;
  outline: none;
}

.header-search-field:hover {
  opacity: 0.6;
}

.header-search-field:focus {
  opacity: 1;
}

.header-search-submit {
  display: none;
  width: 84px;
  height: 50px;
  cursor: pointer;
  box-sizing: border-box;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  border-left: 2px solid var(--basic-black);
  border-top: 2px solid var(--basic-black);
  border-right: 2px solid var(--basic-black);
}

.header-search-submit_active {
  display: inline-block;
}

.header-search-submit:hover,
.header-search-submit:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.header-search-submit:active {
  color: rgba(var(--basic-white-rgb), 0.3);
  background-color: var(--basic-black);
}

.header-show-submenu {
  background-color: transparent;
  border: none;
  color: var(--basic-black);
  padding: 0;
  cursor: pointer;
}
.header-show-submenu::after {
  content: url("../img/add-icon.svg");
  display: inline-block;
  width: 15px;
  height: 15px;
}

/* submenu */

.content-menu-advanced {
  box-sizing: border-box;
  background-color: var(--special-yellow-light);
  padding: 64px 0;
}

.content-submenu {
  width: 50%;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(3, min-content);
  column-gap: 61px;
  row-gap: 20px;
}

.content-submenu-item:nth-of-type(5) {
  grid-column: 2 / -1;
}

.content-submenu-link {
  color: inherit;
  text-decoration: none;
}
.content-submenu-link:hover,
.content-submenu-link:focus {
  opacity: 0.6;
}
.content-submenu-link:active {
  opacity: 0.3;
}

/* ****************index.html**************** */

.main_page_index {
  grid-column: 1 / -1;
}

/* promo */

.promo {
  margin-bottom: 77px;
  position: relative;
}

.promo-choise-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  position: absolute;
  left: 1000px;
  bottom: 130px;
  z-index: 10;
}

.promo-choise-item:not(:last-of-type) {
  margin-right: 18px;
}

.promo-choise-label {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid var(--basic-black);
  box-sizing: border-box;
  cursor: pointer;
}

.promo-choise-label:hover,
.promo-choise-label:focus {
  opacity: 0.6;
}

.promo-choise-label:active {
  opacity: 0.3;
}

.promo-choise:checked ~ .promo-choise-label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 1px solid var(--basic-black);
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
}

.promo-product-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  counter-reset: section;
  position: relative;
}

.promo-product-item {
  display: none;
  min-height: 506px;
}

.promo-product-item_active {
  display: block;
}

.promo-product-card {
  position: relative;
  display: grid;
  grid-template-columns: 89px 1fr 1fr 47px;
  grid-template-rows: 145px max-content max-content minmax(40px, auto) min-content;
  align-items: stretch;
}

.promo-product-card::before {
  content: "";
  display: block;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background-color: var(--special-yellow-light);
}

.promo-product-card::after {
  counter-increment: section;
  content: "0" counter(section);
  position: absolute;
  top: 85px;
  left: 931px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 170px;
  color: var(--basic-white);
}

.promo-product-wrapper {
  padding-top: 17px;
  grid-row: 1 / -1;
  grid-column: 2 / 3;
  display: grid;
  align-items: center;
}

.promo-product-image {
  object-fit: contain;
}

.promo-product-image_hopter {
  margin-left: -60px;
}

.promo-title {
  min-height: 112px;
  letter-spacing: normal;
  grid-row: 1 / 3;
  grid-column: 3 / 4;
  order: 1;
  position: relative;
  z-index: 2;
  margin: 110px 0 30px;
}

.promo-product-description {
  margin: 0;
  margin-bottom: 51px;
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

.promo-product-link {
  grid-row: 4 / 5;
  grid-column: 3 / 4;
}

.promo-table {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  margin-top: 51px;
  grid-row: -2 / -1;
  grid-column: 3 / 4;
}

.promo-table-row {
  font-weight: 300;
  font-size: 36px;
  line-height: 41.5px;
  letter-spacing: 0.1em;
}

.promo-table-header {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

/* device-types */

.device-types {
  margin-bottom: 48px;
}

.device-types-list {
  padding: 0;
  padding: 20px 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
}

.device-types-item {
  width: 160px;
}

.device-types-link {
  color: inherit;
  text-decoration: none;
}

.device-types-link:hover .device-types-wrapper,
.device-types-link:focus .device-types-wrapper {
  background-color: var(--special-yellow-dark);
}

.device-types-link:active .device-types-image {
  opacity: 0.3;
}

.device-types-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  background-color: var(--special-yellow-light);
}

.device-types-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin: 0;
  padding-top: 38px;
  white-space: nowrap;
}

/* services */

.services {
  display: grid;
  grid-template-columns: 1fr 284px 876px 1fr;
  grid-template-rows: 115px min-content;
  margin-bottom: 104px;
}

.services::after {
  min-height: 288px;
  content: "";
  background: var(--basic-gray-light);
  opacity: 0.5;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.services-choice-list {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  z-index: 2;
  box-sizing: border-box;
  padding: 0;
  list-style-type: none;
  border-right: 7px solid var(--basic-black);
  height: 320px;
  margin-top: 15px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}

.services-choice-item:not(:last-of-type) {
  margin-bottom: 21px;
}

.services-choise {
  display: none;
}

.services-choise-label {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-image: linear-gradient(
    to bottom,
    transparent 16px,
    var(--special-yellow-dark) 16px,
    var(--special-yellow-dark) 24px,
    transparent 24px
  );
}

.services-choise-label:hover,
.services-choise-label:focus {
  background-image: none;
  background-color: var(--special-yellow-dark);
}

.services-choise:checked ~ .services-choise-label,
.services-choise-label:active {
  width: 100%;
  background-image: none;
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.services-list {
  grid-column: 3 / 4;
  grid-row: 1 / -1;
  z-index: 2;
  padding: 0;
  padding-left: 116px;
  margin: 0;
  list-style-type: none;
  display: grid;
}

.services-item {
  display: none;
}

.services-item_active {
  display: block;
}

.services-card {
  align-self: stretch;
  align-items: stretch;
  align-content: stretch;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr 1fr;
  align-content: stretch;
}

.services-title {
  margin-top: 86px;
  margin-bottom: 40px;
}

.services-item-text {
  line-height: 30px;
  letter-spacing: 0.1em;
}

.services-image {
  grid-area: 1 / 2 / -1 / 3;
  align-self: center;
  margin-bottom: 25px;
}

/* logotypes */

.logotypes-list {
  padding: 0;
  margin-bottom: 76px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.logotypes-image {
  width: 260px;
  height: 100px;
}

.logotypes-image {
  filter: grayscale(1);
  opacity: 0.2;
}

.logotypes-link:hover .logotypes-image,
.logotypes-link:focus .logotypes-image {
  filter: grayscale(0);
  opacity: 1;
}

/* about-us */

.about-us {
  display: contents;
}

.about-us-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding-top: 57px;
  padding-bottom: 50px;
}

.about-us-wrapper {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.about-us-description {
  line-height: 28px;
  margin: 0;
}

.about-us-description:first-of-type {
  margin-bottom: 40px;
}

.about-us-description:last-of-type {
  margin-bottom: 60px;
}

.about-us-list {
  padding: 0;
  margin: 0;
  margin-bottom: 84px;
  list-style-type: none;
}

.about-us-item {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
}

.about-us-item::before {
  content: "";
  width: 8px;
  height: 8px;
  margin-right: 24px;
  background-image: url("../img/disk.svg");
}

.about-us-item:not(:last-of-type) {
  margin-bottom: 21px;
}

.about-us-link {
  width: 260px;
  height: auto;
}

/* contacts */

.contacts {
  display: contents;
}

.contacts-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-top: 57px;
  padding-bottom: 50px;
}

.contacts-wrapper {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.contacts-description {
  line-height: 28px;
  margin: 0;
  margin-bottom: 40px;
}

.contacts-link {
  display: inline-block;
  margin-bottom: 76px;
}

.contacts-map {
  width: 560px;
  height: 222px;
}

.contacts-link:hover,
.contacts-link:focus {
  opacity: 0.8;
}

/* ****************catalog.html**************** */

.main_page_catalog {
  position: relative;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 328px 832px 1fr;
  grid-template-rows: min-content min-content 70px min-content min-content;
}

.main_page_catalog::before {
  content: "";
  display: block;
  background-color: var(--basic-half-gray);
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.main_page_catalog::after {
  content: "";
  display: block;
  background-color: var(--basic-gray-light);
  grid-column: 1 / 2;
  grid-row: 4 / -1;
}

.catalog-title {
  letter-spacing: normal;
  grid-column: 2 / -2;
  grid-row: 1 / 2;
  margin-bottom: 30px;
  padding-left: 60px;
}

.breadcrumbs {
  grid-column: 2 / -2;
  grid-row: 2 / 3;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  padding-left: 60px;
  list-style-type: none;
  display: flex;
}

.breadcrumbs-link {
  color: inherit;
  opacity: 0.3;
  text-decoration: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:last-of-type)::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 14px;
  margin-right: 14px;
  background-image: url("../img/arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.1;
}

/* filter */

.filter {
  display: contents;
}

.filter-title {
  padding-left: 60px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin: 0;
  background-color: var(--basic-half-gray);
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.filter-form {
  padding-left: 60px;
  padding-top: 70px;
  grid-column: 2 / 3;
  grid-row: 4 / -1;
  background-color: var(--basic-gray-light);
}

.filter-fieldset {
  border: none;
  padding: 0;
}

.filter-cost {
  margin-bottom: 38px;
}

.filter-color {
  margin-bottom: 37px;
}

.filter-bluetooth {
  margin-bottom: 41px;
}

.filter-label {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.filter-form-legend {
  width: 200px;
  min-height: 33px;
  margin-bottom: 30px;
  border-top: 2px solid var(--basic-black);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

/* checkbox */

.filter-color-list {
  padding: 0;
  list-style-type: none;
}

.filter-color-item:not(:last-of-type) {
  margin-bottom: 12px;
}

.filter-color-label {
  padding-left: 42px;
  position: relative;
  cursor: pointer;
}

.filter-color-label:hover,
.filter-color-label:focus {
  opacity: 0.6;
}

.filter-color-label:active {
  opacity: 1;
}

.filter-color-label::before,
.filter-color-label::after {
  position: absolute;
  content: "";
  display: inline-block;
  box-sizing: border-box;
  left: 0;
  top: 50%;
}

.filter-color-label::before {
  width: 24px;
  height: 24px;
  border: 3px solid var(--basic-black);
  border-radius: 2px;
  transform: translateY(-50%);
}

.filter-color-label::after {
  display: none;
  width: 12px;
  height: 8px;
  border-bottom: 3px solid var(--basic-black);
  border-left: 3px solid var(--basic-black);
  transform: translate(6px, -6px) rotate(-45deg);
}

.filter-color-field:checked ~ .filter-color-label::after {
  display: inline-block;
}

.filter-color-field:disabled ~ .filter-color-label {
  opacity: 0.25;
}

.filter-color-field:focus ~ .filter-color-label::before {
  box-shadow: 0 0 0 2px var(--basic-gray-light), 0 0 0 4px var(--basic-black);
}

.filter-color-field:focus ~ .filter-color-label::before {
  opacity: 0.6;
}

/* radio button */

.filter-bluetooth-list {
  padding: 0;
  list-style-type: none;
}

.filter-bluetooth-item:not(:last-of-type) {
  margin-bottom: 12px;
}

.filter-bluetooth-label {
  padding-left: 42px;
  position: relative;
  cursor: pointer;
}

.filter-bluetooth-label:hover {
  opacity: 0.6;
}

.filter-bluetooth-field:focus
  ~ .filter-bluetooth-label
  > .filter-bluetooth-text {
  opacity: 0.6;
}

.filter-bluetooth-field:focus ~ .filter-bluetooth-label {
  opacity: 0.6;
}

.filter-bluetooth-label::before,
.filter-bluetooth-label::after {
  position: absolute;
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  left: 0;
  top: 50%;
}

.filter-bluetooth-label::before {
  width: 24px;
  height: 24px;
  border: 3px solid var(--basic-black);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.filter-bluetooth-label::after {
  display: none;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  transform: translate(8px, -4px);
}

.filter-bluetooth-field:focus ~ .filter-bluetooth-label::before {
  box-shadow: 0 0 0 2px var(--basic-gray-light), 0 0 0 4px var(--basic-black);
}

.filter-bluetooth-field:checked ~ .filter-bluetooth-label::after {
  display: inline-block;
}

.filter-bluetooth-field:disabled ~ .filter-bluetooth-label {
  opacity: 0.25;
}

.filter-submit {
  background-color: transparent;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  width: 200px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    transparent 16px,
    var(--special-yellow-dark) 16px,
    var(--special-yellow-dark) 24px,
    transparent 24px
  );
  background-position: center;
  background-repeat: no-repeat;
}

.filter-submit:hover,
.filter-submit:focus {
  background-image: none;
  background-color: var(--special-yellow-dark);
}
.filter-submit:active {
  background-image: none;
  background-color: var(--special-yellow-dark);
  color: rgba(var(--basic-black-rgb), 0.3);
}

/* devices */

.devices {
  display: contents;
}

.devices-header {
  grid-column: 3 / -1;
  grid-row: 3 / 4;
  display: flex;
  min-height: 70px;
  background-color: var(--basic-gray-light);
  padding-left: 72px;
}

.devices-header-wrapper {
  width: 760px;
  display: grid;
  grid-template-columns: min-content auto 52px;
  align-items: center;
}

.devices-options {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  margin-right: 74px;
}

.devices-sort-list {
  font-weight: normal;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.devices-sort-item:not(:last-of-type) {
  margin-right: 30px;
}

.devices-sort-type {
  opacity: 0.3;
}

.devices-sort-type:hover,
.devices-sort-type:focus {
  opacity: 0.6;
}

.devices-sort-type:active,
.devices-sort-type.sort-active {
  opacity: 1;
}

.devices-sort-type {
  color: inherit;
  text-decoration: none;
}

.devices-sort-method-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.devices-sort-method-item:first-of-type {
  margin-right: 16px;
}

.devices-sort-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.sort-active {
  opacity: 0.2;
}

.devices-sort-button:hover {
  opacity: 0.4;
}

.devices-sort-button:focus {
  opacity: 0.4;
  outline: auto;
}

.devices-sort-button:active {
  opacity: 1;
}

.devices-sort-button_up::after,
.devices-sort-button_down::after {
  content: "";
  width: 18px;
  height: 18px;
  display: block;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.devices-sort-button_up::after {
  background-image: url("../img/sort-up.svg");
}

.devices-sort-button_down::after {
  background-image: url("../img/sort-down.svg");
}

.devices-list {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  padding: 69px 0 0 72px;
  margin: 0;
  margin-bottom: 40px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 48px;
}

.devices-item {
  position: relative;
}

.devices-item:hover .devices-image {
  opacity: 0.7;
}

.devices-image {
  margin-bottom: 31px;
}

.devices-item-wrapper {
  display: flex;
  justify-content: space-between;
}

.devices-title {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  width: 270px;
  margin: 0;
  margin-right: 11px;
}

.devices-price {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin: 0;
}

.devices-link-wrapper {
  position: absolute;
  left: 77px;
  top: 171px;
}

.devices-link:first-of-type {
  margin-bottom: 22px;
}

.devices-link-compare {
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.1em;
  opacity: 0.5;
}

.devices-link-compare:hover,
.devices-link-compare:focus {
  opacity: 1;
}

.devices-link-compare:active {
  opacity: 0.2;
}

.devices-footer {
  min-height: 70px;
  grid-column: 3 / 3;
  grid-row: -2 / -1;
  display: flex;
  justify-content: space-between;
  background-color: #ebebeb;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 19.6px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-left: 72px;
  margin-bottom: 78px;
}

.buttons-back-forward {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 19.6px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.buttons-back-forward:hover,
.buttons-back-forward:focus {
  background-color: #d9d9d9;
}

.buttons-back-forward:active {
  background-color: #d9d9d9;
}

.buttons-back-forward:disabled {
  background-color: transparent;
  cursor: auto;
}

.buttons-back-forward:active .device-button-desc {
  opacity: 0.3;
}

.devices-pages-list {
  display: flex;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.devices-pages-item:not(:last-of-type) {
  margin-right: 30px;
}

.devices-pages-link.current-page {
  opacity: 1;
}

.devices-pages-link {
  color: inherit;
  text-decoration: none;
  opacity: 0.3;
}

.devices-pages-link:hover,
.devices-pages-link:focus {
  opacity: 0.6;
}

.devices-pages-link:active {
  opacity: 1;
}

/* ****************page footer**************** */

.footer {
  color: var(--basic-white);
  background-color: var(--basic-dark);
  grid-column: 1 / -1;
  padding-top: 46px;
  padding-bottom: 65px;
}

.footer-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: min-content minmax(90px, auto) min-content;
}

.footer-wrapper::after {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-dark);
  transform: translateY(16px);
}

.footer-wrapper-row {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-adress {
  font-style: normal;
}

.footer-tel {
  color: inherit;
  text-decoration: none;
  justify-self: flex-end;
  align-self: start;
}

.footer-tel:hover,
.footer-tel:focus {
  opacity: 0.7;
}

.footer-social-list {
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.footer-social-item:not(:last-of-type) {
  margin-right: 20px;
}

.footer-social-link {
  opacity: 0.3;
}

.footer-social-link:hover,
.footer-social-link:focus {
  opacity: 0.6;
}

.footer-social-link:active {
  opacity: 0.1;
}

.study-center-link {
  justify-self: flex-end;
}

.study-center-link:hover,
.study-center-link:focus {
  opacity: 0.6;
}

.study-center-link:active {
  opacity: 0.3;
}

/* ****************visually-hidden**************** */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
